@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-yellow-400
}

input, select, textarea {
  @apply min-w-[120px] w-full outline-none border border-gray-100 p-2 rounded-md mb-2
}

span[data-number] {
  @apply font-semibold mr-2
}

.bible {
  animation-name: bibleAnimation;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contentBible {
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
}

@keyframes bibleAnimation {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0);
  }
}