@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-yellow-400
}

input, select, textarea {
  @apply min-w-[120px] w-full outline-none border border-gray-100 p-2 rounded-md mb-2
}

span[data-number] {
  @apply font-semibold mr-2
}

.bible {
  animation-name: bibleAnimation;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contentBible {
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
}

.playbutton.loading {
  position: relative;
  pointer-events: none;
}

.playbutton.loading::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid rgba(170, 163, 255, 0.4);
  border-left-color: transparent;
  animation-name: spin;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bibleAnimation {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0);
  }
}